{% extends "index.html" %}
{% block title %} {{post.title}} {% endblock %}
{% block author %} By: {{ post.author }} {% endblock %}
{% block content %}
    <!-- Post Content -->
    <div class="row">
        <div class="col-md-12">
            <article>
                {% if error %}
                    <p class="error bg-danger">{{ error }} </p>
                {% endif %}
                <div class="post-content">
                    <p>{{ post.content | safe }}</p>
                </div>
            </article>
            {% if user_id == post.user_id %}
                <div class="actions-container col-md-6 col-xs-12 pull-left">
                    <a class="btn btn-danger" href="/posts/delete/{{ post.key().id() }}">Delete</a>
                    <a class="btn btn-primary" href="/posts/edit/{{ post.key().id() }}">Edit</a>
                </div>
            {% endif %}
            <div class="vote-container col-md-6 col-xs-12 pull-right">
                <div class="up-vote col-md-6 text-center">
                    <a href="/upvote/{{ post.key().id() }}"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Awesome?</a>
                    <p>[ {{ post.up_votes }} ]</p>
                </div>
                <div class="down-vote col-xs-6 text-center">
                    <a href="/downvote/{{ post.key().id() }}"><i class="fa fa-thumbs-down" aria-hidden="true"></i>Sucks?</a>
                    <p>[ {{ post.down_votes }} ]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="add-comment-container col-xs-12">
            <h2 class="post-subtitle"> Add Comments </h2>
            <form action="/comments/{{ post.key().id() }}" method="post">
                <div class="form-group">
                    <textarea name="comment" id="comment" class="form-control" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-default pull-right">Submit</button>
            </form>
        </div>
        {% if comments %}
        <div class="col-md-12">
            <h2 class="post-subtitle"> Comments: </h2>
            {% for comment in comments %}
                <div class="comment-container row">
                    <div class="comment-user col-md-9 col-xs-12">
                        <h2> Comment by: {{ comment.username }} </h2>
                    </div>
                    {% if comment.user_id == post.user_id and not edit_comment %}
                    <div class="comment-actions col-md-3 col-xs-12">
                        <div class="col-md-6">
                            <a class="btn btn-primary" href="/comments/edit/{{ comment.key().id() }} ">Edit</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-danger" href="/comments/delete/{{ comment.key().id() }} ">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                    {% if not edit_comment %}
                    <div class="col-xs-12 comment-content">
                        <p> {{ comment.content }} </p>
                    </div>
                    {% else %}
                    <div class="col-xs-12 comment-content">
                        <form class="col-xs-12" action="/comments/edit/{{ comment.key().id() }}" method="post">
                            <textarea class="form-control" name="comment" id="comment_edit"  rows="5">{{ comment.content }}</textarea>
                            <button type="submit" class="btn btn-success edit-comment pull-right">Edit</button>
                        </form>
                    </div>
                    {% endif %}
                    <div class="col-xs-12 comment-date text-right">
                        Posted on: {{ comment.created_at.strftime("%b %d, %Y") }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}

